body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fff;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  background-color: #f5f5f5; 
  border-bottom: 1px solid #ddd;
  gap: 12px; 
}

.back-btn,
.group-info-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  user-select: none;
  padding: 4px 8px;
}

.back-btn {
  font-weight: bold;
}

.group-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%; 
  object-fit: cover;
}

h2 {
  flex-grow: 1; 
  margin: 0;
  font-size: 1.3rem;
  font-weight: 600;
  color: #333;
}


main {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background: #f5f5f5;
}

.message {
  max-width: 70%;
  padding: 8px 12px;
  margin: 8px 0;
  border-radius: 12px;
  font-size: 14px;
  position: relative;
}

.message.sent {
  background: #b71c1c; 
  color: #fff;
  margin-left: auto;
}

.message.received {
  background: #e5e5e5;
  color: #000;
}

.message .meta {
  display: flex;
  align-items: center;
  font-size: 11px;
  margin-top: 3px;
  justify-content: flex-end;
  gap: 5px;
}

.message.sent .meta {
  color: #ddd;
}

.message.received .meta {
  color: #555;
}


footer {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
  background: #fff;
  align-items: center;
  gap: 10px;
}

footer input {
  flex: 1;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 20px;
  outline: none;
}

footer .icons {
  display: flex;
  gap: 8px;
}

footer button {
  background: #b71c1c;
  border: none;
  border-radius: 50%;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

footer button i {
  font-size: 14px;
}

footer .icons button {
  background: transparent;
  color: #b71c1c;
  border: none;
  padding: 8px;
  cursor: pointer;
}
#sendBtn {
  background-color: rgb(170, 12, 12);
  border: none;
  color: white;
  width: 35px;
  height: 35px;
  border-radius: 50%; 
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sendBtn i {
  color: white; 
}
